[Unit]
Description=Check for Remote Tools updates periodically
Documentation=https://github.com/brianlechthaler/remote-tools

[Timer]
OnBootSec=15min
OnUnitActiveSec=6h
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
